.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.footer-title {
  height: 100% !important;
  width: 15% !important;
  padding: 1rem 1rem !important;
}
.footer-button {
  height: 100% !important;
  width: 10% !important;
  padding: 1rem 1rem !important;
  border-radius: 0;
  background-color: #2D7DD2;
  color: whitesmoke;
}
.footer-body {
  height: 100% !important;
  width: 75% !important;
  padding: 1rem 1rem !important;
}

html {
  margin-bottom: 65px;
}

.body{
//background-image: url("logo.svg");
  background-color: #cccccc;
}

.form_login{
  background-color: #2D7DD2;
  margin-top: 150px;
  margin-left: 35%;
  border-color: #222222;
  border: 10px;
  border-radius: 4px;
  width: 30%;
  height: 45%;
//position: absolute;
//alignment: center;
}

.form_email{
  width: 70%;
}

.form_password{
  width: 70%;
}


.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 65px;
}

.App-header {
  background-color: #222;
  height: 100px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Banner{
  background-color: antiquewhite;
  height: 47px;
  margin-top: 0;
  color: cornflowerblue;
}

.Hour-select{
  position: absolute;
  color: #222222;
}
.App-clock{
  position: absolute;
  margin-left: 1000px;
  color: #222222;
}
.edit{
  width: 50px;
}
.table, th , td{
  border: 1px solid black;
  border-collapse: collapse;
    width: available;

}
.td{
  border: 1px solid black;
  border-collapse: collapse;
  width: 100%;
}
.try1 td{
  padding: 5px;
  white-space: nowrap;
  border: 0px;
}
#textBox1,#textBox2,#textBox3,#textBox4,#textBox5,#textBox6,#textBox7,#textBox8,#textBox9,#textBox10
{
  width: 60%;
  border:0;
  font-size:14pt;
}

#Width{

  width: 40px;
}
#HeaderWidth{
  width: 40px;
}


